* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    
  }
  
  ::selection {
   /*background-color: rgb(53,180,250);*/
    background-color: rgB(131,226,207);
    color:rgb(8, 25, 90);
}
  .home,
  .services,
  .products{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .services {
    /*background-image: url('/images/img-2.jpg');*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .products {
    /*background-image: url('/images/img-1.jpg');*/
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
.lower-section,
.upper-section {
  display: relative;
  width:auto;
  justify-content: center;
} 

.section-divider {
  position: relative;
}
.section-divider:before {
      font-family: "Font Awesome 5 Free";
      content: "\f5fc";
      color:rgb(225,225,220);
      font-weight: 900;
      align-items: center; 
      padding-top: 1.25rem;
      width: 6.5rem;
      height: 6.5rem;
      background: rgb(34,39,46);
      border-radius: 100%;
      position: absolute;
      top: -3rem;
      left: calc(50% - 3.15rem);
      text-indent: 1.98rem;
      font-size: 2rem;
    }